<h5>By subject</h5>
<ul>
  <% blog.tags.sort.each do |tag, articles| %>
    <li>
      <%= link_to tag, tag_path(tag) %>
    </li>
  <% end %>
</ul>

<h5>By topic</h5>
<ul>
  <% blog.articles.sort_by {|a| a.data[:topic] || "" }.group_by {|a| a.data[:topic] }.each do |topic, articles| %>
    <li>
      <%= link_to topic, topic_path(topic) %>
    </li>
  <% end %>
</ul>

<h5>By day (* next 7 days)</h5>
<ul>
  <% blog.articles.sort_by {|a| a.date }.group_by {|a| a.date }.each do |date, articles| %>
    <li>
      <%= "*" if date > Time.zone.now && date < (Time.zone.now + 60*60*24*7) %>
      <%= link_to "#{date.strftime("%a %d %b %Y")} (#{articles.size} #{pluralize("lesson", articles.size)})", blog_day_path(date.year, date.month, date.day) %>
    </li>
  <% end %>
</ul>


<h5>Pending</h5>
<ul>
  <% blog.articles.select {|a| a.data[:pending] }.each do |article| %>
    <li><a href="<%= article.url %>"><%= article.title %><%= article.data.status %> </a></li>
  <% end %>
</ul>

<h5>Done</h5>
<ul>
  <% blog.articles.select {|a| !a.data[:pending] }.each do |article| %>
    <li><a href="<%= article.url %>"><%= article.title %> </a></li>
  <% end %>
</ul>
